a{
    color: royalblue;
    text-decoration-line: overline underline;
    text-decoration-style: dashed;
    text-decoration-color: darkblue;
    text-transform: lowercase;
    text-shadow: 0px 0px 5px limegreen;
/*first value left-right
    second value up-down*/
}
p{
    text-indent: 25px;
    letter-spacing: normal;
    word-spacing: 3px;
    line-height: 150%;
    white-space: pre-wrap;
    font-family: 'Satisfy', cursive;
}
pre {
    font-family: 'Rubik Wet Paint', cursive;
}
